
.container{
display: flex;
gap: 20px;
justify-content: space-between;


}
.container div{
  padding: 20px;
  flex-basis: 30%;
  

}
.container .item-1{
  background-color: aquamarine;
}
.container .item-2{
  background-color:aquamarine ;
}
.container .item-3{
  background-color:aquamarine ;
}
.container .item-4{
  background-color:aquamarine ;
}
.container1{

  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;
  gap:20px;*/
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 300px;
}
.container1 div{
  margin:10px;
}
.container1 .child-1{
   border: 3px solid rgb(151, 107, 113);
    background-color: bisque;
}
.container1 .child-2{
   border: 3px solid rgb(151, 107, 113);
    background-color: bisque;
}
.container1 .child-3{
   border: 3px solid rgb(151, 107, 113);
    background-color: bisque;
}

.container1 .child-4{
   border: 3px solid rgb(151, 107, 113);
    background-color: bisque;
}
.container1 .child-5{
   border: 3px solid rgb(151, 107, 113);
    background-color: bisque;
}
.container1 .child-6{
   border: 3px solid rgb(151, 107, 113);
    background-color: bisque;
}
h3{
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
img{
  width:100%
}



